.snakeGame {
  text-align: center;
  width:40vw;
  margin: 0 auto;
  background: #4bbfc3;
  padding-bottom: 2%;
  padding-top: 1%;

}

.title-game {
  font-weight: 800;
}

.score-game {
  font-weight: 600;
}
