@import '../node_modules/fullpage.js/dist/jquery.fullpage.css';

/* Custom CSS
 * --------------------------------------- */
body {
  font-family: arial, helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 6em;
}

.section {
  text-align: center;
}


.post-editor {
    margin: 1em 20%
}

.post-editor-btn {
    float: right;
    margin-top: 1em;
}

.post-body {
    margin: 1em 20%;
}

@media (max-width: 900px) {
    .post-editor {
        margin: 1em;
    }

    .post-body {
        margin: 1em 20%;
    }
}